.chat-container {
    background-color: white;
    box-shadow: 8px 6px 24px 0px rgba(0,0,0,0.05);
    width: 30%;
    text-align: left;
    z-index: 1;
}

.chat-input__button{
    display: flex;
    color: #fe3872;
    background-color: white;
    font-size: 18px;
    padding: 9px 10px;
    border-radius: 18px;
    border: solid 1px rgb(206, 206, 206);
    margin: 10px;
    text-align: center;
}

textarea {
    margin-bottom: 10px;
}

.option {
    border: none;
    background-color: white;
    border-bottom: solid 4px red;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.option:disabled {
    border-bottom: solid 4px grey;
}

.chat-display, .matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

.chat-container-header {
    background: linear-gradient(45deg, #fe3872, #ff5948);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__icons {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.card__icons img {
    width: 25px;
    border-radius: 17px;
    margin-left: 10px;
}

.chat-message-header {
    display: flex;
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 150%;
}

.profile, 
.log-out-icon {
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}






