.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard__swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard__card-container {
    width: 400px;
    height: 650px;
}

.card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    box-shadow: inset 0px -100px 100px 10px rgba(0,0,0,0.4), 
    0px 0px 50px 10px rgba(0,0,0,0.15);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    
}

.swipe-info{
    position: relative;
    bottom: 0;
    margin: 20px;
    padding: 50px;
}

  
.card h3 {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    margin: 15px;
    color: rgb(255, 255, 255);
}

.settings-button {
    color: #fe3872;
    background-color: white;
    font-size: 18px;
    padding: 9px 10px;
    border-radius: 18px;
    border: none;
    margin: 10px
}

.return-button {
    border: 1px solid #fe3872;
    background-color: white;
    position: absolute;
    padding: 5px;
    margin: 110px;
    margin-top: 610px;
    color: #fe3872;
    font-size: 18px;
    border-radius: 18px;
}

.to-become-premium {
    position: fixed;
    height: 55px;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(45deg, #fe3872, #ff5948);
   color: white;
   text-align: center;
}

.to-become-premium h3 {
    margin-left: 620px
}

.add-premium-code {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 60px;
    left: 0;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, #fe3872, #ff5948);
    color: white;
    text-align: center;
    padding-left: 250px;
}

.add-premium-code form {
    padding: 10px;
}
