.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard__swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard__card-container {
    width: 400px;
    height: 650px;
}

.card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.20);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.swipe-info{
    position: relative;
    bottom: 0;
    margin: 20px;
    padding: 50px;
}
  
.card h3 {
    position: absolute;
    bottom: 0px;
    margin: 15px;
    color: #fff;
}

.settings-button {
    color: #fe3872;
    background-color: white;
    font-size: 18px;
    padding: 9px 10px;
    border-radius: 18px;
    border: none;
    margin: 10px
}

.return-button {
    
    position: absolute;
    margin: 125px;
    margin-top: 620px;
    color: #fe3872;
    font-size: 18px;
    border-radius: 18px;
    border: none;
}
