.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding {
    border-top: 1px solid rgb(228, 222, 222);
    text-align: center;
}

.onboarding form input{
    padding: 15px 30px;
    margin: 10px 0px;
    font-size: 15px;
    border: solid 2px rgb(192, 192, 192);
    border-radius: 10px;
}

.onboarding form label{
    margin: 10px 0px;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input{
    margin-right: 10px;
    width: 90%;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(192, 192, 192);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

#age{
    width: 20%
}

.onboarding form input[type="radio"] {
    display: none;
}

.socials-input-container img {
    padding: 16px;
    width: 10%;
}

.social {
    display: flex;
    align-items: center;
    vertical-align: middle;
}


.onboarding form input[type="radio"]:checked + label{
    border: solid 2px rgb(228, 98, 119);
}

.onboarding form input[type="submit"]:hover {
    background-color: rgba(121, 110, 119, 0.479);
    border: solid 2px rgba(121, 110, 119, 0.479)
}

.onboarding form input[type="submit"]:active {
    background-color: rgb(240, 140, 218);
}

.onboarding form input[type=checkbox] {
    width: min-content;
}

.onboarding form .photo-container img {
    width: 100%
}

.delete-button {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    background: linear-gradient(45deg, #fe3872, #ff5948);
    padding: 10px 32px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.delete-button:hover {
    background: linear-gradient(260deg, #fe3872, #ff5a486c);
}

