.premium-modal {
    z-index:1;
    position: fixed;
    padding: 20px;
    top: 2.5%;
	bottom: 7%;
	right: 10%;
	left: 47%;
    transition: transform .2s;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    color:black
}

.all-modal {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-modal h2 {
    margin-left: 70px;
}

.matches-display {
    width: 450px;
}

.premium-modal h2 {
    display: flex;
    padding-left: 25px;
}

.swipe {
    position: absolute;
}

.dashboard__card-container {
    width: 400px;
    height: 650px;
}

.card-premium {
    background-color: #fff;
    width: 400px;
    height: 650px;
    box-shadow: inset 0px -100px 100px 10px rgba(0,0,0,0.4), 
    0px 0px 50px 10px rgba(0,0,0,0.15);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
.card-premium h3 {
    position: absolute;
    bottom: 0px;
    margin: 15px;
    color: #fff;
}
