.premium-modal {
    z-index:1;
    position: fixed;
    padding: 20px;
    top: 10%;
	bottom: 5%;
	right: 10%;
	left: 30%;
    transition: transform .2s;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
    color:black
}

.all-modal {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-modal h2 {
    margin-left: 70px;
}

.matches-display {
    width: 450px;
}

.premium-modal h2 {
    display: flex;
    padding-left: 25px;
}

.swipe {
    position: absolute;
}

.dashboard__card-container {
    width: 400px;
    height: 650px;
}

.card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.20);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
