.header {
    position: relative;
    
    justify-content: space-between;
    align-items: center;
    height: min-content;
    border-bottom: 1px solid rgb(228, 222, 222);
}

.header__logo {
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}