nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__logo-container {
    color: rgb(243, 134, 134);
    padding-left: 20px;
    width: 170px;
    margin: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo-container h3 {
    padding-top: 20px;
}

.nav__logo {
    width: 100%;
    height: 70px;
    padding-top: 15px;
    object-fit: contain;
}

.nav__button:disabled {
    background-color: rgba(187, 187, 187, 0.459);
    color: #521326;
}

.nav__button:hover {
    background-color: rgb(219, 219, 219);
}

.nav__button {
    color: #fe3872;
    background-color: white;
    font-size: 18px;
    padding: 9px 10px;
    border-radius: 18px;
    border: none;
    margin: 10px
}
